{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Настройки</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <form action="{% url 'accounts:delete' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger my-2">Удалить</button>
        </form>
    </div>
</div>

<div class="row my-5">
    <div class="col-md-8 mx-auto">
        <p class="my-3">Запишите ваши пожелания по поиску вакансии</p>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsed"
                    aria-expanded="false" aria-controls="collapseExample">
                Показать форму
            </button>
        </p>
        <div class="collapse" id="collapsed">
            <div class="card card-body">
                <form action="{% url 'accounts:contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ contact_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}